@import '~antd/dist/antd.less';
@import "./theme.less";
@import (css) url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-size-title: 20px;
@line-height-title: 24px;
@normal-font-weight: 400;

.white-container {
  background: @white;
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
}
.content-header {
  padding: @padding-md;
  border-bottom: 1px solid @border-color-base;
  font-weight: @normal-font-weight;
}
h1.ant-typography.content-title {
  color: @primary-color;
  font-size: @font-size-title;
  line-height: @line-height-title;
  margin-bottom: 0;
  font-weight: @normal-font-weight;
}
h1.ant-typography.content-title .anticon {
  margin-right: 10px;
}

.content-body {
  padding: 15px;
}

/** Utilities **/
.text-center {
  text-align: center;
}
